// Typography
$base_font = 'AvenirNext LT Pro'
$font_size = 14px
$line_height = 20px



// Colors
$gray = #EFEFEF
$green = #F26A2C
$greendark = #F26A2C;
$fadedPrimary = #f26a2c47;
$dark = #194A6B;
$dark_light = #286f9e;
$gradiant = linear-gradient(90deg, rgba(49,49,49,1) 0%, rgba(49,49,49,0) 100%);
$color_font = #000
$color_link = $green
$color_hover = #fb824b;
$color_hover_2 = $dark_light;


/* Media queries */
$mobile-landscape = '(min-width: 576px) and (max-width: 768px)'
$x-small-media = '(max-width: 576px)'
$small-media = '(min-width: 576px)'
$medium-media = '(min-width: 768px)'
$x-medium-media = '(max-width: 991px)'
$max-medium-media = '(max-width: 767px)'
$large-media = '(min-width: 992px)'
$x-large-media = '(min-width: 1200px)'
$xx-large-media = '(max-width: 1440px)'
$laptop-down = '(max-width: 1200px)'
$xxx-large-media = '(max-width: 1540px)'
