
.goal-size-1{
    width: 40px;
    position: absolute;
    left: 25px;
    top: 8px;
    height: 40px;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

.goal-1{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-1.png');
}

.goal-2{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-2.png');
}

.goal-3{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-3.png');
}

.goal-4{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-4.png');
}

.goal-5{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-5.png');
}

.goal-6{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-6.png');
}

.goal-7{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-7.png');
}

.goal-8{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-8.png');
}

.goal-9{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-9.png');
}

.goal-10{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-10.png');
}

.goal-11{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-11.png');
}

.goal-12{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-12.png');
}

.goal-13{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-13.png');
}

.goal-14{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-14.png');
}

.goal-15{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-15.png');
}

.goal-16{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-16.png');
}

.goal-17{
    background-image: url('/wp-content/themes/dist/img/icons/sdg-goals/sdg-icon-17.png');
}

i.sdg-badge {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.badge-1{
    width: 100px;
    height: 100px;
}

.badge-2{
    width: 80px;
    height: 80px;
}

.badge-3{
    width: 60px;
    height: 60px;
}

.badge-4{
    width: 35px;
    height: 35px;
}

.badge-5{
    width: 20px;
    height: 20px;
}

.content-spinner{
    width: 50px;
    margin: 0 auto;
    animation: loading 3s infinite cubic-bezier(0, 0, 0, 0);    
}