html, body {
    font-family: $base_font;
    font-size: $font_size;
    line-height: $line_height!important;
    color: $color_font;
}
.h1, h1 {
    font-size:  4em;
}
.h2, h2 {
    font-size: 2em;
}
.h3, h3 {
    font-size: 1.4em;
}
.h4, h4 {
    font-size: 1.2em;
}
.h5, h5 {
    font-size: 1.1em;
}
.h6, h6 {
    font-size: 1em;
    font-weight: bold;
}
p {
    font-size: 1.1em;
    margin-bottom: 1em;
}
b, strong {
    font-weight: bold;
}
a {
    color: $color_link;
    outline: none;
    transition: 0.3s;
    &:hover, &:focus {
        color: $color_hover;
        text-decoration: none;
    }
}

h1,h2,h3,h4,h5,h6{
    font-weight: 800;
}



select, option {
    font-family: arial;
    font-size: 18px;
}