//use this if you are using our Cookie policy plugin
.cookie-box{
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 20px;

  .cookie-box-inner{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    align-items: center;

    @media (min-width 768px){
      flex-direction row
      align-items flex-end;

    }
    .cookie-allow{
      margin-bottom: 0;
      width: 164px;
      height: 50px;
      border-radius: 30px;
      color: white;
      border: none;
      margin-left 20px
    }
  }
}