.logo-section{
    .logo-item{
        img{
            transition: 0.3s;
            object-fit: contain;
            height: 70px;
            filter: grayscale(1);
            transform: scale(1);
        }
        &:hover{
            img{
                transform: scale(1.03);
                filter: grayscale(0);
            }
        }
      
    }
    
}