#sidebar-layout
    .carousel-indicators 
        top: 360px;
        margin-right: 15px;
        justify-content: end;
        img
            margin-left: 10px;
            object-fit: cover;
            width: 70px;
            height 50px;
    .carousel-item
        height: 425px;
        overflow: hidden;
        img
            height: 100%;
            width 100%;
            object-fit: cover;
.content
    h1,h2,h3,h4,h5,h6
        margin-bottom: 15px;
        color: $dark;
    h1
        font-size: 2rem;
    h2
        font-size: 1.5rem;
    p
        line-height: 1.8rem;
        font-weight: 500;
        letter-spacing: 0px;
        font-size: 1rem;

aside
    #aside-logo
        height: 50px;
    .aside-title
        font-size: 1.5rem;
        font-weight: 600;
    .aside-small-title
        font-size: 1.2;
        font-weight: 600;
    p
        line-height: 20px;
        font-weight: normal;
        font-size: 1rem;
    .aside-list-item
        display: flex;
        justify-content: space-between;
    .aside-responsible
        display: flex;
        p
            margin-bottom: 0;
        img
            border-radius: 50%;
            width 60px;
            margin-right: 1rem;
    .text-bold
            font-weight: 600;
    iframe
        border: none;
        height 300px;